@import url(./globalStyles.css);

body {
  background-color: var(--gray-2);
  font-family: var(--font-family);
  box-sizing: border-box;
}

header {
  width: 100vw;
  border-bottom: 2px solid var(--brand-1);
  background: var(--gray-1);
  position: fixed;
  top: 0;
  z-index: 1;
}

.header__content {
  max-width: var(--width-max);
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  padding-block: 20px;
}

.header__button--tranparent {
  height: 60px;
  padding: 20px 32px;
  border: 1px solid var(--gray-7);
  background: var(--gray-1);
  color: var(--gray-7);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.main_content {
  margin: 0 auto;
}

.banner {
  width: var(--width-max);
  height: 91vh;
  background: var(--gray-2);
  max-width: 100%;
  padding-top: 5.5%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.banner__content {
  text-align: center;
}

.banner__title {
  color: var(--gray-6);
  text-align: center;
  font-size: var(--title1-font-size);
  font-weight: var(--title1-font-weight);
  line-height: var(--title1-line-height);
}
.banner__description {
  width: 770px;
  margin: 0 auto;
  margin-block: 44px;
}

.suas {
  color: var(--brand-1);
}

.banner__button {
  height: 60px;
  padding: 20px 32px;
  border: 1px solid var(--brand-1);
  background: var(--brand-1);
  color: var(--gray-7);
  font-size: var(--text4-font-size);
  cursor: pointer;
}

.about--backgroud {
  background: var(--gray-1);
  height: 280px;
  display: flex;
  justify-content: center;
  padding-block: 30px;
}

.about__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--width-max);
}

.about__title {
  color: var(--gray-6);
  font-size: var(--title2-font-size);
  font-weight: var(--title2-font-weight);
  line-height: var(--title2-line-height);
  width: 35%;
}

.about__description {
  width: 52%;
}

.faq__content {
  max-width: var(--width-max);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 5% 0;
  position: relative;
}

.faq__left-content {
  width: 100%;
}

.faq__left {
  width: 35%;
  height: 30%;
  position: sticky;
  top: 180px;
}

.faq__left-title {
  color: var(--gray-6);
  font-size: var(--title2-font-size);
  font-weight: var(--title2-font-weight);
  line-height: var(--title2-line-height);
  margin-bottom: 3%;
}

.faq__left-button {
  padding: 5% 7%;
  background: var(--brand-1);
  border: none;
  color: var(--gray-6);
  margin-top: 6%;
  font-size: var(--text4-font-size);
  cursor: pointer;
}

.faq__right {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 60px;
}

.faq__right-title {
  color: var(--gray-6);
  text-align: center;
  font-size: var(--title3-font-size);
  font-weight: var(--title3-font-weight);
  line-height: var(--title3-line-height);
  margin-bottom: 3%;
}

.comments__content {
  max-width: var(--width-max);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2% 0;
  position: relative;
}

.comments__right-content {
  background: var(--brand-1);
  display: flex;
  flex-direction: column;
  padding: 45px 52px;
  gap: 35px;
  position: sticky;
  top: 130px;
}

.comments__right {
  width: 35%;
  max-width: 35%;
  min-height: 35%;
}

.comments__right-title {
  color: var(--gray-7);
  font-size: var(--title2-font-size);
  font-weight: var(--title2-font-weight);
  line-height: var(--title2-line-height);
}

.comments__left {
  display: flex;
  width: 45%;
  flex-direction: column;
  gap: 82px;
}

.comments__left-block {
  display: flex;
}

.comments__left-identification {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 2%;
}

.comments__left-name {
  color: var(--gray-6);
  font-size: var(--title3-font-weight);
  font-weight: var(--title3-font-weight);
  line-height: var(--title3-line-height);
}

.comments__left-text {
  width: 100%;
}

.comments__left-class {
  color: var(--gray-4);
  font-size: var(--text3-font-size);
  font-weight: var(--text3-font-weight);
  line-height: var(--text3-line-height);
}

.rodape {
  background: var(--gray-1);
  display: flex;
  justify-content: center;
  padding: 2% 0;
}

#modal {
  box-sizing: border-box;
  border: 2px solid var(--brand-1);
  background: var(--gray-2);
  width: 30%;
  gap: 5%;
  padding: 30px;
}

.modal_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#modal::backdrop {
  background-color: rgba(0, 0, 0, 0.484);
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.modal_title {
  font-size: var(--title3-font-size);
  font-weight: var(--title3-font-weight);
  line-height: var(--title3-line-height);
  color: var(--gray-7);
}

.modal_close {
  background: var(--gray-3);
  border-radius: 4px;
  padding: 9px;
  width: 8%;
  text-align: center;
  color: var(--gray-7);
  cursor: pointer;
}

.modal_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal_form-box {
  border: 1px solid var(--gray-1);
  background: var(--gray-1);
  width: 93.5%;
  padding: 3%;
  font-size: var(--text1-font-size);
  font-weight: var(--text1-font-weight);
  line-height: var(--text1-line-height);
  outline: none;
  cursor: pointer;
  color: var(--gray-7);
}

.modal_form-box::placeholder {
  color: var(--gray-4);
}

.modal_button {
  border: 1px solid var(--brand-1);
  background: var(--brand-1);
  width: 100%;
  height: 7vh;
  color: var(--gray-7);
  font-size: var(--text4-font-size);
  line-height: var(text4-line-height);
  font-weight: var(text4-font-weight);
  cursor: pointer;
}
.modal_button:hover {
  background-color: var(--brand-2);
}
